.portfolio-hero {
    position: relative;
    width: 100%;
    background: url("/public/img/banner.jpg") no-repeat center center/cover;
    height: 200px;
}

.title-line-portfolio {
    width: 500px;
    height: 4px;
    background-color: #0d6efd;
    border-radius: 2px;
}


/* Cards */
.portfolio-card {
    transition: all 0.3s ease;
    background-color: #fff;
}

.portfolio-card:hover {
    background-color: #efefef;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
}

/* Buttons "Voir le site" */
.portfolio-card .btn-primary:hover {
    background-color: #3d8bfd;
}


